<h1>Edit Profile</h1>
<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    
    {{ form.photo.label_tag }} {{ form.photo }}
    {{ form.post1.label_tag }} {{ form.post1 }}
    {{ form.post2.label_tag }} {{ form.post2 }}
    {{ form.post3.label_tag }} {{ form.post3 }}
    {{ form.link1.label_tag }} {{ form.link1 }}
    {{ form.link2.label_tag }} {{ form.link2 }}
    {{ form.link3.label_tag }} {{ form.link3 }}
    {{ form.link4.label_tag }} {{ form.link4 }}
  
    {{ form.birthday.label_tag }} {{ form.birthday }}
    {{ form.country.label_tag }} {{ form.country }}
    {{ form.favorite_music.label_tag }} {{ form.favorite_music }}
    {{ form.social_links.label_tag }} {{ form.social_links }}
    {{ form.favorite_books.label_tag }} {{ form.favorite_books }}
    {{ form.favorite_movies.label_tag }} {{ form.favorite_movies }}
    {{ form.favorite_food.label_tag }} {{ form.favorite_food }}
    
    <!-- Custom field for room background -->
    <label for="id_room_background">Room Background</label>
    {{ form.room_background }}
    
    <!-- Social Links Section -->
    <div id="social-links-section">
        <h3>Social Links</h3>
        {% for form in social_link_formset %}
            <div class="social-link-form">
                {{ form.link.label_tag }} {{ form.link }}
            </div>
        {% endfor %}
    </div>

    <button type="button" id="add-social-link" class="btn btn-primary">Add Social Link</button>
    
    <button type="submit" class="btn btn-success">Save Changes</button>
    <a href="{% url 'profile' username=request.user.username %}" class="btn btn-secondary">Cancel</a>
</form>

<script type="text/javascript">
    let socialLinksCount = {{ social_link_formset.management_form.TOTAL_FORMS.value|add:"0" }};
    const maxLinks = 6;

    document.getElementById("add-social-link").addEventListener("click", function() {
        if (socialLinksCount < maxLinks) {
            const newForm = document.createElement("div");
            newForm.classList.add("social-link-form");
            newForm.innerHTML = `
                <label for="id_social_links-${socialLinksCount}-link">Social Link</label>
                <input type="url" name="social_links-${socialLinksCount}-link" maxlength="200" required id="id_social_links-${socialLinksCount}-link">
            `;
            document.getElementById("social-links-section").appendChild(newForm);
            socialLinksCount++;
        } else {
            alert("You can add up to 6 social links only.");
        }
    });
</script>
